.nsfw {
	position: relative;

	&__image {
		display: block;
		width: 100%;
	}

	&__dimmer {
		background: rgba(0, 0, 0, 0.8);
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__button {
		bottom: 0;
		height: 2rem;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 10rem;
	}

	&--show & {
		&__dimmer {
			display: none;
		}
	}
}
